{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<body onload="document.getElementById('defaultOpen').click();">
<header>
  <h2>Twitter</h2>
</header>

{% if user.is_authenticated %}
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Home')" id="defaultOpen">Home</button>
  <!--<button class="tablinks" onclick="openTab(event, 'Home')">Home</button>-->
  <button class="tablinks" onclick="openTab(event, 'User')">User</button>
</div>

<div id="Home" class="tabcontent">
  <section>
    <nav>
      <ul>
        <h3>Latest Tweets</h3>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'twit/style.css' %}">

        {% if latest_tweet_list %} <!--if there are tweets, display them-->
            <ul>
            {% for tweet in latest_tweet_list %}
                <li><a href="{% url 'twit:detail' tweet.id %}">{{ tweet.tweet_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %} <!--if there are no tweets-->
            <p>No tweets are available.</p>
        {% endif %}
      </ul>
    </nav>
  </section>
</div>

<div id="User" class="tabcontent">
  <h3>{{ user.username }}</h3>
  <p><a href="{% url 'logout' %}">logout</a></p>
</div>

<script>
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();
</script>
</body>
</html>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
